body {
  background-color: lightgreen;
  text-align: center;
  margin: auto;
  justify-content: center; 
  margin: auto;
}
#flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#drum-machine {
  width: 45%;
  height: 325px; 
  background-color: gray;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em; 
  border: 5px solid blue;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#drum-pad-area {
width: 50%;
  background-color: lightgray;
  
}
.btn-rows {
  height: 33.3%;
  width: 100%;
}
.drum-pad {
  margin: auto;
  width: 25%;
  height: 80%;
  background-color: gray;
  border-radius: 10%;
  box-shadow: 5px 5px 10px black;
  
}
.drum-pad:active {
  background-color: yellow;
  box-shadow: 0 0 0 black;
  height: 77%;
}
#top-btns {
  display: flex;
  flex-wrap: wrap;
  
}
#middle-btns {
display: flex;
  flex-wrap: wrap;
  
}
#bottom-btns {
 display: flex;
  flex-wrap: wrap;
 
}
.letters {
margin: auto;
margin-top: 10%;
}
#options {
  background-color: red;
  width: 50%;
}
#display {
  width: 80%;
  height: 1.5em;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  padding: 10px 2px 0px 2px;
  border-radius: 10px;

}
#onoff-container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  width: 4em;
  height: 2em;
  margin: auto;
  
}
#onoffbutton {
  background-color: white;
  width: 40%;
  height: 80%;
  margin: 5% 5% 0% 5%;
  border-radius: 10%;
}
#power {
  margin-bottom: 0;
  font-weight: bold;
}
#volume-slider {
  margin-top: 4em;
  margin-bottom: 2em;
  accent-color: yellow;
}
@media (max-width: 800px) {
  #drum-machine {
    width: 100%;
  }
}
