body {
  margin: 0;
}
.bluetext {
  color: blue;
}
#contentContainer {
  display: flex;
  flex-direction: row;
  min-width: 80%;
  width: 80em;
  min-height: 100%;
  height: auto;
  margin: auto;
  margin-top: 0;
  background-color: white;
  overflow: hidden;
} 
		    #navigation {
  border-width: 0 1px 1px 1px;
border-style: solid;
border-color: black;
  height: 100%;
  width: 20%;
  position: fixed;
  background-color: #e6e6e8;
  text-align: center;
}

#navLinks li {
  list-style-type: none;
  margin-top: 10px;
  
  margin-right: 20%;
}
#navLinks a {
  text-decoration: none;
  color: black;
}

#profilePicDiv{
  position: relative;
  margin-top: 10px;
  margin: auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
}
#profilePic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
	#content {
    margin-left: 19.8em;
    min-height: 100vh;
  height: 292em;
  width: 78%;
  text-align: center;
}

#welcome1 {
  position: relative;
  width: 100%;
  height: 47em;
  background-color: red;
  
}
#welcome1Img {
  width: 100%;
  height: 100%;
}
#welcome2 {
  position: relative;
  width: 100%;
  height: 47em;
  display: none;
  background-color: orange;
  
  
}
#welcome2Img {
  width: 100%;
  height: 100%;
}
#pause {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 5%;
  opacity: 1;
  transition: opacity 2s ease-out;
  z-index: 1; 
  display: none;
}
#play {
 position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 5%;
  opacity: 1;
  transition: opacity 2s ease-out;
  z-index: 1;
  display: none;
}
.introductionText {
  position: absolute; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: black; 
  text-align: center;
}
#about {
   width: 100%;
  height: 28em;
}
.topintrotxt {
  padding-top: 10px;
  margin-left: 15px;
  text-align: left;
  color: gray;
  font-size: 20px;
  font-weight: bold;
  
}
.bottomintrotxt {
  margin-left: 15px;
  text-align: left;
  font-size: 23px;
  font-weight: bold; 
}
#aboutustxt {
  text-align: left;
  margin-left: 15px;
  margin-right: 100px;
}
#aboutusbottomcontainer {
  width: 100%;
  height: 10em;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.minidivs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  background-color: white;
  height: 90%;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.minidivs:hover {
  background-color: lightgray;
}
#minidiv1 {
  border-bottom: 3px solid purple;
}
#minidiv2 {
  border-bottom: 3px solid red;
}
#minidiv3 {
  border-bottom: 3px solid blue;
}
#minidiv4 {
  margin-right: 7em;
  border-bottom: 3px solid orange;
}
.feather {
  margin-bottom: 10px;
}
#services {
  width: 100%;
  height: 28em;
}
#servicescontainer {
  width: 100%;
  height: 18.1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.myservices {
  width: 25%;
  height: 15em;
  background-color: white;
  margin-right: 1.5em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
#services1 {
  border-bottom: 3px solid blue;
}
#services2 {
  
  border-bottom: 3px solid red;
}
#services3 {
  margin-right: 5.5em;
  border-bottom: 3px solid yellow;
}


.hexagon {
            top: -8vh;
            position: relative;
            margin: 0 auto;
            background-color: dodgerblue;
            border-radius: 10px;
            width: 100px; 
            height: 63px;
            box-sizing: border-box;
            transition: all 1s;
            border: 0.4vh solid transparent;
        }
          
        .hexagon:before, .hexagon:after {
            content: "";
            border: inherit;
            position: absolute;
            top: -0.5vh;
            left: -0.5vh;
            background-color: dodgerblue;
            border-radius: inherit;
            height: 100%;
            width: 100%;
        }
          
        .hexagon:before {
            transform: rotate(60deg);
        }
        .hexagon:after {
            transform: rotate(-60deg);
        }

#education {
  width: 100%;
  min-height: 35em;
  height: auto;
  background-color: white;
}
.educationtitle {
  display: flex;
  align-items: center;
  width: 80%;
  height: 4em;
  margin-left: 2em;
  background-color: #F2F3F7;
  border: 1px solid lightgray;
  margin-top: 5px;
  position: relative; 
  transition: color 0.5s ease, background-color 0.5s ease;
}
.educationtitle:hover {
  cursor: pointer;
}
#educationtitle1 {
  margin-top: 4em;
}
.educationtitleptext {
  margin-left: 2em;
}
.educationtitleptextright {
  position: absolute; 
  right: 1.2em;
  font-size: 22px;
}
.educationcontent {
  
  width: 80%;
  height: 0;
  margin-left: 2em;
  margin-top: 5px;
  overflow: hidden;
  transition: height 1s ease;
}
.certlinks {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 10em;
  height: 3em;
  max-width: auto;
  max-height: auto;
  background-color: #D0D0D5;
  border: 2px solid darkblue;
  font-weight: bold;
  font-size: 18px;
}
.educationcontent a {
  text-decoration: none;
}

#portfolio {
  width: 100%;
  height: auto;
}
#projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: white;
}

.project {
  width: 40%;
  height: 20em;
  text-align: left;
  font-weight: bold;
  font-family: helvetica;
  margin-top: 4%;
  margin-bottom: 1%;
  margin-right: 4%;
  border-radius: 3%;
  color: transparent;
  background-color: blue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
}
.hiddenprojects {
  display: none;
}
.project h3, .project p {
  margin-left: 10px;
  margin-right: 10px;
}
.project:hover {
  background-image: url("https://github.com/tim19889/images/blob/main/lightblue.jpg?raw=true") !important;
  color: white;
  cursor: pointer;
}

.project:last-child {
  margin-bottom: 4%;
}
#loadmoreprojects {
  display: block;
  width: 70%;
  height: 4em;
  margin-top: 2%;
  margin-bottom: 2%;
  color: white;
  background-color: #2C98F0;
  border: none;
  cursor: pointer;
  border-radius: 1.5%;
}
#loadmoreprojects:hover {
  background-color: #45a6f5;
}

.appDescription {
  font-weight: normal;
  margin-top: 10%;
  text-align: center;
}
#project1 {
  background-image: url("https://github.com/tim19889/images/blob/main/PasswordGenerator2.jpg?raw=true");
}
#project2 {
  background-image: url("https://github.com/tim19889/images/blob/main/caesarscipher.jpg?raw=true");
}
#project3 {
  background-image: url("https://github.com/tim19889/images/blob/main/drummachine.jpg?raw=true");
}
#project4 {
  background-image: url("https://github.com/tim19889/images/blob/main/palindromechecker.jpg?raw=true");
}
#project5 {
  background-image: url("https://github.com/tim19889/images/blob/main/romannumeralconverter.jpg?raw=true");
}
#project6 {
  background-image: url("https://github.com/tim19889/images/blob/main/sessionclock.jpg?raw=true");
}
#project7 {
  background-image: url("https://github.com/tim19889/images/blob/main/quotemachine.jpg?raw=true");
}
#project8 {
  background-image: url("https://github.com/tim19889/images/blob/main/usphonevalidator.jpg?raw=true");
}
#project9 {
  background-image: url("https://github.com/tim19889/images/blob/main/wordle2.jpg?raw=true");
}
#project10 {
  background-image: url("https://github.com/tim19889/images/blob/main/wordle1.jpg?raw=true");
}
#project11 {
  background-image: url("https://github.com/tim19889/images/blob/main/cashregister.jpg?raw=true");
}
#project12 {
  background-image: url("https://github.com/tim19889/images/blob/main/cashregister.jpg?raw=true");
}
#project13 {
  background-image: url("https://github.com/tim19889/images/blob/main/calculator.jpg?raw=true");
}
#project14 {
  background-image: url("https://github.com/tim19889/images/blob/main/markdownpreviewer.jpg?raw=true");
}

#contactus {
  
  width: 100%;
  height: 40em;
  
  margin-top: 5em;
}
#contactuscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactdiv {
  width: 40%;
  height: 22em;
  background-color: white;
  display: inline-block;
  margin-right: 4%;
  margin-top: 4em;
}
#contactinfo {
  margin-right: 2em;
}
#contactform {
  margin-left: 2em;
}
.contactleftdiv {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 25%;
  background-color: white;
  margin-top: 5%;
}
.contactleftdiv a {
  text-decoration: none;
  margin: auto;
  font-weight: bold;
  font-size: 18px;
}
.contactleftdiv p {
  font-size: 18px;
  margin: auto;
}
.cldleft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  height: 100%;
  background-color: #e6e6e8;
}
#formsubmit {
  margin-top: 1em;
}
.inputs {
  margin-top: 1.5em;
}
#message {
  resize: none;
  height: 7em;
}

