.text {
  color: white;
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 7px;
}
#pwGeneratorContainer {
  border-radius: 3%;
  width: 40em;
  min-height: 25em;
  height: auto;
  background-color: gray;
  margin: auto;
  text-align: center; 
}
#title {
  margin-top: 5px;
  margin-bottom: 5px;
}
#numInputTag {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
#passwordDiv {
  display: inline-block;
  border: 5px solid blue;
  background-color: white;
  min-width: 10em;
  max-width: 98.3%;
  height: auto;
  margin: auto;
  visibility: hidden;
  margin-bottom: 5px;
}
#password {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow-wrap: break-word;
}
#copyPassword {
  margin: auto;
  cursor: pointer;
  visibility: hidden;
}
#instructions {
  margin-left: 10px;
  margin-right: 10px;
}
#unorderedList {
  text-align: left;
}
#numInput {
  width: 3em;
  height: 2em;
  display: inline-block;
  margin: auto;
}
.increaseDecreaseButtons {
  display: inline-block;
  font-size: 25px;
  width: 28px;
  height: 28px;
  background-color: blue;
  color: white;
  border-radius: 20%;
  margin-left: 5px;
  margin-right: 5px;
}
.increaseDecreaseButtons:hover {
  background-color: orange;
  cursor: pointer;
}
.checks {
  display: inline-block;
  margin: auto;
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 1em;
}
@media (max-width: 800px) {
  #pwGeneratorContainer {
  border-radius: 3%;
  width: 100%;
  height: 100%;
  background-color: gray;
  margin: auto;
  text-align: center; 
}
}